/* تنسيقات WebSite   */

.dr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 450px;
  color: black;
  background-color: aqua;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
}
.dR-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0 !important;
  color: hsl(183.53 68% 19.61%);
  letter-spacing: 3.8px;
}
.secondBar {
  position: relative;
}
.time-status {
  content: "";
  display: block;
  padding: 0 0 3px 0;
  position: absolute;
  top: 86%;
  left: 56px;
  transform: translate(-50%, -50%);
  border: 2px solid #91b1ab;
  background-color: #26816c;
  width: 100px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}

.secondBar::before {
  content: "";
  display: block;
  width: 134px;
  background-image: url("../imgs/image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 97%;
  border-radius: 50%;
  background-color: hsl(183.53 68% 19.61%);
  position: absolute;
  top: 40%;
  left: 56px;
  transform: translate(-50%, -50%);
  border: 2px solid white;
}
@media (max-width: 600px) {
  .secondBar::before {
    display: none;
  }
  .time-status {
    width: 60px;
    font-size: 12px;
    left: 70%;
    top: 32%;
  }
  .secondBar {
    padding-left: 10px !important;
  }
}
@media (max-width: 375px) {
  .time-status {
    width: 50px;
    font-size: 12px;
    left: 80%;
    top: 28%;
  }
}
.webTitle {
  font-size: 3.5rem;
  font-weight: bolder;
  color: hsl(183.53 68% 19.61%);
  letter-spacing: -3.2px;
}

@media (max-width: 600px) {
  .mainImg {
    height: 80px;
  }
}
